*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  /* text-align: center; */
  margin: 5rem auto 0 auto;
  padding: 2rem 0;
  border: 5px solid black;
  border-radius: 5px;
  width: 40%;
  /* display: flex;
  justify-content: center; */
}


header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.task{
  margin: 1rem;
  padding: 1rem;
  background-color: gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.reminder{
  border-left: 5px solid green;
}

.form{
  margin: 1rem;
  /* border: 2px solid red; */
  height: fit-content;
}

.form > button {
  width: 100%;
}

label {
  padding: 1rem 0;
  
}

p{
  color:purple;
  /* margin-top: 4rem; */
}
.form-control{
  margin: 1rem 0;
}
.form-control > label {
  /* background-color: aqua; */
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.form-control > input {
  padding: 0.5rem 0;
}

.reminder-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}